.login-container {
  border: 1px solid dimgray;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
  padding: 16px;

  .form-control {
    display: flex;
    flex-direction: column;
    margin: 20px 0;
  }
}
