<div class="container">
  <div class="card">
    <h1 align="center">Crear canchas</h1>
    <form [formGroup]="creationFieldForm">
      <div class="form-control">
        <label>Nombre</label>
        <input type="text" formControlName="name">
      </div>

      <div class="form-control">
        <label>Ubicación</label>
        <input type="text" formControlName="location">
      </div>

      <div class="form-control">
        <label>Superficie</label>

        <select name="surface" formControlName="surface">
          <option value="grama_sintetica">Grama sintética</option>
          <option value="grama_natural">Grama natural</option>
          <option value="cemento">Cemento</option>
          <option value="otra">Otra</option>
        </select>
      </div>

      <div class="form-control">
        <label>Precio por hora</label>
        <input type="number" formControlName="price_per_hour">
      </div>

      <div class="form-control-horizontal">
        <label>Está disponible:</label>
        <input type="radio" id="true" value="true" [checked]="creationFieldForm.get('is_available')?.value === 'true'" formControlName="is_available">
        <label for="true">Sí</label><br>
        <input type="radio" id="false" value="false" [checked]="creationFieldForm.get('is_available')?.value === 'false'" formControlName="is_available">
        <label for="false">No</label><br>
      </div>

      <div class="form-control">
        <button (click)="createField()">Crear</button>
      </div>

      <div>
        <label *ngIf="errorMessage">{{errorMessage}}</label>
      </div>
    </form>
  </div>

  <div class="card card-table">
    <h1 align="center">Listado de canchas</h1>
    <table>
      <tr>
        <th>Id</th>
        <th>Nombre</th>
        <th>Ubicación</th>
        <th>Superficie</th>
        <th>Precio por hora</th>
        <th>Disponibilidad</th>
        <th></th>
      </tr>
      <tr *ngFor="let field of fieldsList">
        <td>{{ field.id }}</td>
        <td>{{ field.name }}</td>
        <td>{{ field.location }}</td>
        <td>{{ field.surface }}</td>
        <td>{{ field.price_per_hour }}</td>
        <td>{{ field.is_available === 'true' ? 'Sí' : 'No' }}</td>
        <td><button (click)="deleteField(field.id)">Borrar</button></td>
      </tr>
    </table>
    <div>
      <label *ngIf="successMessage">{{successMessage}}</label>
    </div>
  </div>

</div>
